* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #000000 !important;
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

<<<<<<< HEAD
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
=======



>>>>>>> ad65bf294454bc187692d4c00cdba9d94d14fbcd
